* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

html,
body {
    max-width: 1800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    position: relative;
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-------------------- Media Queries --------------------*/
@media screen and (min-width: 1800px) {
    html {
        margin: 0 auto;
    }
}
