/*-------------------- Google Font --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*-------------------- Color Variables --------------------*/
:root {
    --main-color: #253746;
    --secondary-color: #38546b;
    --text-color: #333333;
    --body-color: #ffffff;
    --card-color: #f5f3ef;
    --footer-color: #f6f6f6;

    --font-logo: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    --font-title: 'garamond-premier-pro', 'Poppins', sans-serif;
    --font-text: 'DS Trade Gothic', 'Poppins', sans-serif;
}
